<footer id="footer" class="footer ">
	<div class="container">
		<div class="footer__content animated fadeInUp">
			<nav class="footer__nav">
				<a href="" class="logo"><img src="../img/header/logo.svg" alt="logo"></a>
				<ul class="footer__nav_list">
					<li class="link"><a href="">Ресторанам</a> </li>
					<li class="link"><a href="">Курьерам</a></li>
					<li class="link"><a href="">Пресс-центр</a></li>
					<li class="link"><a href="">Контакты</a></li>
				</ul>
			</nav>
			<div class="socials">
				<a class="social__link" href="">
					<img src="../img/footer/instagram__ico.svg" alt="">
				</a>
				<a class="social__link" href="">
					<img src="../img/footer/facebook__ico.svg" alt="">
				</a>
				<a class="social__link" href="">
					<img src="../img/footer/vk__ico.svg" alt="">
				</a>
			</div>
		</div>
	</div>
	<div class="modal modal-cart" id="modal-cart">
		<div class="modal-dialog">
			<div class="modal-header">
				<h2>Корзина</h2>
				<button href="#" class="close-modal close-modal_cart">
					&times;
				</button>
			</div>
			<div class="modal-body">
				<div class="cart-list">
					<div class="cart-item">
						<span class="item-name">Ролл угорь стандарт</span>
						<div class="item-price__inner">
							<strong class="price">250 ₽</strong>
							<div class="quantity">
								<button class="quantity-btn minus">-</button>
								<form class="" action="send.php" method="post">
									<input class="quantity-value" type="number" value="1">
								</form>
								<button class="quantity-btn plus">+</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">

			</div>
		</div>
	</div>
	<div class="modal modal-auth" id="modal-auth">
		<div class="modal-dialog">
			<div class="modal-header">
				<h2>Войти</h2>
				<button class="close-modal close-modal_auth">
					&times;
				</button>
			</div>
			<div class="modal-body">
				<form action="login" class="auth-from" id="authForm">
					<label  class="label-auth">
						<input type="text" class="login-field" id="login-field">
						<input type="text" class="pswrd-field" id="pswrd-field">
						<button class="btn btn-auth-form">войти</button>
					</label>
				</form>
			</div>
			<div class="modal-footer">

			</div>
		</div>
	</div>
	<script src="js/main.js"></script>
</footer>