<footer id="footer" class="footer">
	<div class="container">
		<div class="footer__content">
			<nav class="footer__nav">
				<a href="index.html" class="logo"><img src="../img/header/logo.svg" alt="logo"></a>
				<ul class="footer__nav_list">
					<li class="link"><a href="">Ресторанам</a> </li>
					<li class="link"><a href="">Курьерам</a></li>
					<li class="link"><a href="">Пресс-центр</a></li>
					<li class="link"><a href="">Контакты</a></li>
				</ul>
			</nav>
			<div class="socials">
				<a class="social__link" href="">
					<img src="../img/footer/instagram__ico.svg" alt="">
				</a>
				<a class="social__link" href="">
					<img src="../img/footer/facebook__ico.svg" alt="">
				</a>
				<a class="social__link" href="">
					<img src="../img/footer/vk__ico.svg" alt="">
				</a>
			</div>
		</div>
	</div>
	<script src="js/main.min.js"></script>
</footer>