<header class="header animated fadeInDown wow">
    <div class="container">
        <nav class="nav">
            <a href="index.html" class="logo"><img src="../img/header/logo.svg" alt="logo"></a>
            <form name="search" id="search-form" method="post" action="">
                <input type="text" class="input input-search" placeholder="Адрес доставки">
            </form>
            <div class="nav__buttons">
                <button class="btn btn-primary">
                    <i class="far fa-user"></i>
                    Войти
                </button>
                <button class="btn btn-secondary" id="cart-btn">
                    <i class="far fa-shopping-cart"></i>
                    Корзина
                </button>
                <button class="btn btn-primary-m">
                    <i class="far fa-user"></i>
                </button>
                <button class="btn btn-secondary-m">
                    <i class="far fa-shopping-cart"></i>
                </button>
            </div>
        </nav>
    </div>
</header>