<header class="header animated fadeInDown wow">
    <div class="container">
        <nav class="nav">
            <a href="index.html" class="logo"><img src="../img/header/logo.svg" alt="logo"></a>
            <form name="search" id="search-form" method="post" action="">
                <input type="text" class="input input-search" placeholder="Адрес доставки">
            </form>
            <div class="nav__buttons">
                <button class="btn btn-primary btn-auth" id="btn-auth">
                    <i class="far fa-user"></i>
                    <span>Войти</span>
                </button>
                <span class="user-name"></span>
                <button class="btn btn-warning btn-logout" id="btn-logout">
                    <i class="far fa-sign-out-alt"></i>
                    <span>Выйти</span>
                </button>
                <button class="btn btn-secondary cart-btn" id="cart-btn">
                    <i class="far fa-shopping-cart"></i>
                    <span>Корзина</span>
                </button>
            </div>
        </nav>
    </div>
</header>