body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $blue-darken;
}
footer {
  margin-top: auto;
  p {
    font-size: 0.875rem ;
    margin-bottom: 0;
  }
}
.footer-authorize {
  background-color: $blue-dark !important;
}
.footer-unauthorize {
  background-color: $blue-dark !important;
  .left-sidebox {
    h3.h3 {
      font-size: 1.5rem;
    }
  }
  .right-sidebox {
    h6 {
      font-size: 1.125rem;
    }
    a {
      color: #ffffff;
    }
  }
}
.footer-unauthorize-transparent {
  background-color: transparent !important;
}
.btn-light {
  font-size: 0.875rem !important;
  font-weight: 600 !important;
  padding: 0.5rem 1.5rem !important;
}
.btn-yellow {
  padding: 0.5rem 3rem !important;
  background-color: #cfb26f;
}
.btn-yellow-transparent {
  padding: 0.5rem 1rem !important;
  background-color: transparent;
  border: 3px solid $yellow-dark;
  color: $yellow-dark;
  font-weight: bold;
  &:hover {
    background-color: $yellow-dark;
    color: white;
  }
}

nav {
  &.navbar {
    background-color: $blue-dark !important;
  }
  .navbar-brand {
    @media (max-width: 1200px) {
      margin-right: 2rem;
    }
    margin-right: 4rem;
  }
  .navbar-nav {
    font: $font-family-nav !important;
    .nav-item{
      line-height: 4rem;
      margin-right: 0.5rem;
      margin-left: 0.5rem;
      @media (max-width: 1200px) {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
  @media (min-width: 992px) {
    padding: 0 !important;
  }
}
.nav-link {
  &.active {
    border: none;
    border-bottom: 0.25rem solid $yellow-dark !important;
  }
}
.account__autorize {
  .user-accaunt__img {
    position: relative;
    &::after {
      content: "";
      width: 0.5rem;
      height: 0.5rem;
      background-color: red;
      border-radius: 50%;
      position: absolute;
      top: 0;
    }
  }
  .user-accaunt__name {
    margin-right: 1rem;
    .acc-button {
      background: transparent;
      border-bottom: 2px solid #e8d38d;
      border-style: dashed;
      font-size: 0.875rem;
      line-height: 1.2rem;
      color: $yellow-dark;
      padding: 0;
    }
  }
}
/*main section*/
section {
  .headline-section {
    display: flex;
    align-items: center;
    i {
      margin-right: 0.75rem;
    }
    h2 {
      margin: 0;
    }
  }
  &.my-current-balance {
    background-color: $blue-darken;
    .verified-notification {
      background-color: $blue-gray;
      border-radius: 10px;
      a {
        color: $link-color;
      }
    }
  }
  .my-current-balance__content {
    .my-current-balance__card-content {
      .my-current-balance__card {
        background-image: url(/img/dark-card-balance.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 1.5rem 2rem 2.5rem;
        cursor: pointer;
        transition: .3s;
        overflow: hidden;
        border-radius: .3rem;
        &:hover {
          background-image: url(/img/light-card-balance.png);
          color: $blue-darken;
          .card-currency {
            i.fa, .far {
              background-color: $yellow-light !important;
              color: $blue-darken ;
            }
          }
          .card-amount {
            span {
              color: $blue-darken !important;
            }
          }
        }
        .card-amount {
          span {
            font-size: 1.875rem;
            color: $yellow-light;
            margin-left: 0.75rem;
          }
        }
      }
    }
  }
  &.my-statistic {
    background-color: $blue-gray-mix;
    .my-statistic__card-content {
      .my-statistic__card {
        background-image: url(/img/dark-card-statistic.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 1rem 2rem 1rem 2rem;
        cursor: pointer;
        transition: .3s;
        overflow: hidden;
        background-position: center;
        border-radius: .3rem;
        &:hover {
          background: $yellow-dark;
          color: $blue-darken;
          .ico_currency {
            i.fa, .far {
              color: $blue-darken ;
            }
          }
          .card-amount {
            span {
              color: $blue-darken !important;
            }
          }
        }
        .fa, .far {
          color: $light-brown;
        }
        .card-amount {
          span {
            font-size: 2.25rem;
            color: $yellow-light;
            margin-left: 0.75rem;
          }
        }
      }
    }
  }
  &.acount-statement { // page acount statement
    background-color: $blue-darken;
    padding: 3rem 0 14rem 0;
  }
  &.transfer {//page transfer
    background-color: $blue-darken;
    padding: 3rem 0 4rem 0;
    .transfer__content {
      .tab-content {
        .balance-transfer {
          background: $bg-blue-form;
          border-radius: 0.25rem;
          padding: 2rem 5rem 4rem;
          margin-bottom: 3rem;
          .balance-transfer__own{
            .notification__balance-transfer {
              background-color: #fce2e2;
              padding: 1rem;
              font-size: 0.8125rem;
              color: $blue-dark;
            }
          }
        }
        .ecurrency__content {
          .ecurrency-block {
            background-color: $blue-dark;
            padding: 4rem 1rem;
            .ecurrency-block__info {
              color: $gray-500;
            }
          }
        }
      }
    }
  }
  &.account-settings {//account settings page
    padding: 4rem 0 7rem;
    .account-settings__content {
      .account-settings__photo {
        background-color: $bg-blue-form;
        padding: 2rem 2rem;
        .account-user-image {
          .avatar-upload {
            position: relative;
            max-width: 150px;
            margin: 0 auto;
            .avatar-edit {
              position: absolute;
              right: 12px;
              z-index: 1;
              bottom: 0;
              input {
                display: none;
                + label {
                  display: inline-block;
                  width: 3rem;
                  height: 3rem;
                  margin-bottom: 0;
                  border-radius: 100%;
                  background: #FFFFFF;
                  border: 1px solid transparent;
                  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                  cursor: pointer;
                  font-weight: normal;
                  transition: all .2s ease-in-out;
                  &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                  }
                  i.far {
                    color: $gray-600 ;
                  }
                }
              }
            }
            .avatar-preview {
              max-width: 150px;
              height: 150px;
              position: relative;
              border-radius: 100%;
              box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
              > div {
                width: 100%;
                height: 100%;
                border-radius: 100%;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
              }
            }
          }
          .avatar-info {
            span {
              color: $gray-500;
              font-size: 0.75rem;
            }
          }
          .account-status {
            span {
              font-size: 0.8125rem;
            }
            p {
              font-size: 1.125rem;
            }
          }
          button {
            font-size: 0.875rem;
          }
        }
      }
      .account-settings__info {
        background-color: $bg-blue-form;
        form.account-settings__form{
          padding: 3rem 5rem;
        }
        .headline-form {
          color: $yellow-dark;
        }
      }
    }
  }
  &.deposit-methods {
    padding: 4rem 0 6rem;
    .deposit-methods__content {
      .deposit-methods__block {
        background-color: $bg-blue-form;
        background-image: url("../img/deposit-methods_card.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 3.5rem 0;
        .deposit-methods__img {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 150px;
          img {
            width: auto;
          }
        }
        .deposit-methods__info {
          p {
            color: $gray-500;
          }
        }
      }
    }
  }
  &.change-password {//change password pae
    padding: 6rem 0;
    .change-password__content {
      form.change-password-form {
        padding: 3rem 6rem;
        background-color: $bg-blue-form;
        -webkit-box-shadow: 0px 18px 2px -7px rgba(27,31,40,1);
        -moz-box-shadow: 0px 18px 2px -7px rgba(27,31,40,1);
        box-shadow: 0px 18px 2px -7px rgba(27,31,40,1);
        h1.h1 {
          font-size: 1.875rem;
          font-weight: normal;
        }
      }
    }
  }
}