html {
  font-family: $font-family-base;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
}
header {grid-area: header}
.main {grid-area: main}
footer {grid-area: footer}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "header header header header"
  "main main main main"
  "footer footer footer footer"
}
body {
  position: relative;
  //header
  header {
    padding: 2.25rem 0;
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      #search-form {
        flex: 0.8;
        @include for-size(phone-portrait-up) {
          flex: auto;
          order: 3;
          width: 100%;
          margin-top: 1rem;
        }
        .input-search {
          width: calc(100% - 2em);
          background-image: url("../img/header/nav/home__ico.svg");
        }
      }
      .nav__buttons {
        span.user-name {
          display: none;
          @include for-size(phone-portrait-up) {
            display: none !important;
          }
        }
        .btn-logout {
          display: none;
          @include for-size(phone-portrait-up) {

          }
        }
        .btn-secondary {
          i {
            color: #8C8C8C;;
          }
        }
        .btn-secondary, .btn-primary, .btn-logout {
          @include for-size(phone-portrait-up) {
            font-size: 100%;
            border: none;
            background-color: #ffffff;
            span {
              display: none;
            }
            i {
              color: #333333;
              -webkit-transition: .2s;
              -moz-transition: .2s;
              -ms-transition: .2s;
              -o-transition: .2s;
              transition: .2s;
              &:hover {
                color: $color-gray;
              }
            }
            &:hover {
              box-shadow: none;
            }
          }
        }
      }
    }
  }
  //main
  .main {
    padding-bottom: 6rem;
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
    .slideshow-container {
      border-radius: 10px;
      .main-slider {
        background-color: #FFF1B8;
        padding: 7% 6%;
        background-image: url("../img/banner.png");
        background-repeat: no-repeat;
        background-position: right;
        box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
        user-select: none;
        color: $banner-color-font;
        -webkit-background-size: contain;
        background-size: contain;
        h1 {
          margin-bottom: 1rem;
        }
        @include for-size(tablet-portrait-up) {
          font-size: 1.75vw;
        }
        @include for-size(phone-landscape-up){
          font-size: 0.85rem;
        }
        @include for-size(phone-portrait-up) {
          background-position-x: calc(47vw - 100%);
          background-size: 32rem;
        }
      }
    }
    .restaurant {
      .restaurant__header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include for-size(phone-portrait-up) {
          flex-direction: column;
        }
        .restaurant__header_title {
          @include for-size(phone-portrait-up) {
            margin-bottom: 1rem;
          }
        }
        .restaurant__header_search {
          flex-basis: 26%;
          form {
            .input-search {
              background-image: url("../img/main/search.svg");
              width: calc(100% - 2em);
              min-width: 220px;
            }
          }
        }
      }
      .restaurant__cards {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(280px,max-content));
        grid-row-gap: 1.5em;
        grid-column-gap: 1.5em;
        justify-content: center;

        .restaurant__cards_card {
          width: 100%;
          background: #FFFFFF;
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
          border-radius: 7px;
          justify-self: center;
          overflow: hidden;
          &:hover {
            img {
              transform: scale(1.3);
            }
          }
          img {
            width: 100%;
            transition: .1s ease-in;
          }
          .card__info {
            padding: 6%;
            display: grid;
            grid-row-gap: 1.5rem;
            position: relative;
            background-color: #ffffff;
            .card__info_headline {
              display: flex;
              justify-content: space-between;
              align-items: center;
              .card__title {
                font-weight: $font-bold;
              }
              .time {
                font-size: 0.66em ;
                background: #000;
                color: #fff;
                padding: 0.3rem 0.5rem;
                border-radius: 3px;
              }
              &-menu {
                .card__title {
                  font-weight: $font-normal;
                }
              }
            }
            .card__info_short-desc {
              @extend .rating-info;
              width: 75%;
              .desc {
                color: $color-gray;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                transition: 0s;
                border-radius: 7px;
              }
            }
          }
          .card-footer {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 2rem;
            align-items: center;
            .price {
              font-weight: $font-bold;
            }
          }
        }
      }
      .food__cards {
        @extend .restaurant__cards;
        .food__cards_card {
          user-select: none;
          position: relative;
          &:hover {
            cursor: pointer;
            .card__info {
              position: initial;
              .card__title {
                color: #cbcbcb;
                z-index: 1;
              }
              .card__info_short-desc {
                min-height: 36px;
                .desc {
                  display: block;
                  position: absolute;
                  background: rgba(1,1,1,0.6);
                  color: #cbcbcb;
                  left: 0;
                  right: 0;
                  top: 0;
                  bottom: 0;
                  padding: 3rem 2rem 0;
                  transition: ease-in .2s;
                }
              }
              .card-footer {
                z-index: 1;
                .price {
                  color: #cbcbcb;
                }
              }
            }
          }
        }
      }
    }
    /*restaurant menu*/
    .restaurant-menu {
      .restaurant-menu__header {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        .menu__header_title {
          margin-right: 30px;
        }
        .menu__info_short-desc {
          @extend .rating-info;
          grid-template-columns: auto auto auto;
          align-items: center;
        }
      }
    }
  }
  //footer
  footer {
    .modal-auth {
      .modal-dialog {
        max-width: 300px;
        padding-bottom: 2rem;
        .modal-body {
          .label-auth {
            display: flex;
            flex-direction: column;
            gap: 1rem;
          }
        }
      }
    }
    padding: 3rem 0;
    .footer__content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @include for-size (phone-portrait-up) {
        justify-content: center;
      }
      .footer__nav {
        display: flex;
        flex-wrap: wrap;
        @include for-size (phone-portrait-up) {
          justify-content: center;
          margin-bottom: 1rem;
        }
        .logo {
          margin-right: 2rem;
        }
        align-items: center;
        .footer__nav_list {
          display: flex;
          flex-wrap: wrap;
          @include for-size (phone-portrait-up) {
            justify-content: center;
            margin: 1rem 0;
          }
          .link {
            padding: 0 0.5rem;
            line-height: 2em;
          }
        }
      }
      .socials {
        display: flex;
        align-items: center;
        .social__link {
          padding: 0 0.5rem;
        }
      }
    }
  }
}
