/*colors*/
$body-color:                #ffffff;
$gray-border:              #D9D9D9;
$banner-color-font:            #302C34;
$color-rating: #FFC107;
$color-gray:  #8C8C8C;

$font-family-sans-serif:      -apple-system, BlinkMacSystemFont,Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ;
$font-family-base:            $font-family-sans-serif ;
$h1-font-size:                2.16em;
$h2-font-size:                2em;
$h3-font-size:                1.33em;
$font-bold:                   bold;


//maixns

@mixin for-size($size) {
  @if $size == phone-portrait-up {
    @media  (max-width: 767px) { @content; }
  } @else if $size == phone-landscape-up {
    @media (max-width: 900px) { @content; }
  } @else if $size == tablet-portrait-up {
    @media (max-width: 1024px) { @content; }
  } @else if $size == tablet-landscape-up {
    @media (max-width: 1280px) { @content; }
  } @else if $size == desktop-up {
    @media (max-width: 1920px) { @content; }
  } @else if $size == big-desktop-up {
    @media (min-width: 1921px) { @content; }
  }
}